@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "leaflet/dist/leaflet.css"; 
@import "leaflet-draw/dist/leaflet.draw.css";
@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #242424;
  --extra: #ffffff;
  --selected: #999999;
  --main: #696969;
  --primary: #307cf6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-extra: var(--extra);
  --color-selected: var(--selected);
  --color-primary: var(--primary);
  --color-main: var(--main);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-garamond: "EB Garamond", serif;
  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
}

.dark {
    --background: #282828;
    --foreground: #f4f4f4;
    --extra: #141414;
  }

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0 auto;
}
