# frontend next.js

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts


# backend django project
# Django #
backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__
backend/db.sqlite3
backend/media

# Backup files # 
backend/*.bak

# File-based project format
backend/*.iws

# IntelliJ
backend/out/

# JIRA plugin
backend/atlassian-ide-plugin.xml

# Python # 
backend/*.py[cod] 
backend/*$py.class 

# Distribution / packaging 
backend/.Python build/ 
backend/develop-eggs/ 
backend/dist/ 
backend/downloads/ 
backend/eggs/ 
backend/.eggs/ 
backend/lib/ 
backend/lib64/ 
backend/parts/ 
backend/sdist/ 
backend/var/ 
backend/wheels/ 
backend/*.whl
backend/*.egg-info/ 
backend/.installed.cfg 
backend/*.egg 
backend/*.manifest 
backend/*.spec 

# Unit test / coverage reports 
backend/htmlcov/ 
backend/.tox/ 
backend/.coverage 
backend/.coverage.* 
backend/.cache 
backend/.pytest_cache/ 
backend/nosetests.xml 
backend/coverage.xml 
backend/*.cover 
backend/.hypothesis/ 

# Environments 
backend/.env 
backend/.venv 
backend/env/ 
backend/venv/ 
backend/ENV/ 
backend/env.bak/ 
backend/venv.bak/ 